# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea/

# Ensime specific
.ensime
.ensime_cache/

campaigner_entrypoint.d
